<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="pacman" [fullScreen]="true"><p style="color: white"> Loading... </p></ngx-spinner> -->
<app-banner [title]="title" (respData)="onResponse($event)"></app-banner>
<h1>Hello</h1>